.em-2{
    font-size: 2em;
}

.f-15{
    font-size: 15px;
}

.f-18{
    font-size: 18px;
}

.f-20{
    font-size: 20px;
}
.f-22{
    font-size: 22px;
}

.f-26{
    font-size: 26px;
}

.font-weight-light{
    font-weight: 400;
}
.font-weight-medium{
    font-weight: 500;
}
.font-weight-bold{
    font-weight: 700;
}

.w-35{
    width: 35%;
}

.w-30{
    width: 30%;
}

.w-70{
    width: 70%;
}